body {
    font: 20px/1.5 'Roboto', sans-serif;
    color: #F0E7D5;
    background: #555 url('./img/asphalt.png');
    text-align: center;
    margin: 0;
}

header, footer {
  font-size: 18px;
  padding: 0 20px;
}

header {
    padding-bottom: 10px;
    border-bottom: 1px solid #666;
    margin: 30px 0 0;
}

header > p {
    margin: 2px;
}

main {
    padding: 10px 20px;
    max-width: 970px;
    margin: 0 auto;
}

footer {
    border-top: 1px solid #666;
}

div.social-link-column-left {
    float: left;
    margin-left: 30%;
}

div.social-link-column-right {
    margin-left: 45%;
}

div.social-link-column-right p {
    text-align: left;
}

div.social-link-column-left p span.icon-group-title {
    color: #F0E7D5;
    opacity: 0.15;
    position: relative;
    bottom: 0.1em;
}

a:link, a:visited {
    color: #78B642;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo {
    min-width: 100px;
    max-width: 400px;
    max-height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px dashed #555;
}

.small {
    font-size: small;
}

a.social-link:hover {
    text-decoration: none;
}

a.social-link svg {
    height: 64px;
    width: 64px;
}

/* Customize scrollbars in webkit */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #222;
    box-shadow: 0 0 1px #000 inset;
}

::-webkit-scrollbar-track {
    background-color: #444;
    box-shadow: 0 0 6px #000 inset;
}

/* Play nice with small devices */

@media screen and (max-width: 480px) {
    main {
        text-align: left;
    }
}
