.Error-page {
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.Error-page button {
    padding: 3vmin 10vmin;
    font-size: larger;
}

.App {
    text-align: center;
}

.App header,
.App footer {
    padding: 0 10vmin;
}

.App header {
    font-size: larger;
    padding-bottom: 1vmin;
    border-bottom: 1px solid #666;
}

.App footer {
    font-size: small;
    border-top: 1px solid #666;
}

.App .small {
    font-size: small;
}

.App-copyrights {
    opacity: 0.5;
}

.App main {
    padding: 1vmin 10vmin;
    max-width: 970px;
    margin: 0 auto;
}

.App a {
    color: #61dafb;
    text-decoration: none;
}

.App a:link,
.App a:visited {
    color: #78B642;
    text-decoration: none;
}

.App a:hover {
    text-decoration: underline;
}

.App .SocialLinks .social-link-column-left {
    float: left;
    margin-left: 30%;
}

.App .SocialLinks .social-link-column-right {
    margin-left: 45%;
}

.App .SocialLinks .social-link-column-right p {
    text-align: left;
}

.App .SocialLinks .social-link-column-left p.icon-group-title {
    color: #F0E7D5;
    opacity: 0.15;
    position: relative;
    bottom: 0.1em;
}

.App .SocialLinks a.social-link:hover {
    text-decoration: none;
}

.App .SocialLinks a.social-link svg {
    height: 64px;
    width: 64px;
}